/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #fff;
	text-decoration: inherit;
	transition: all 0.2s ease-out;
}
a:hover {
	color: #5af78e;
}

body {
	max-width: 1600px;
	padding: 0 15px;
	margin: 0 auto;
}

input {
	padding: 8px;
	margin: 5px;
	border: solid 2px #5af78e;
	border-radius: 12px;
}

button {
	font-size: 16px;
	background-color: transparent;
	padding: 5px;
	border: solid 2px #5af78e;
	border-radius: 6px;
	transition: all 0.2s ease-out;
}

button:hover {
	cursor: pointer;
	color: #fff;
	background-color: #316241;
	border: solid 2px #5af78e;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	color: #5af78e;
}

p {
	font-size: 20px;
}
